server:
  port: 8083

spring:
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

agent:
  service-id: agent-1
